<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net40" />
  <package id="Microsoft.Azure.DocumentDB" version="1.6.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net46" />
  <package id="WebSharper" version="3.6.11.234" targetFramework="net40" />
  <package id="WebSharper.Html" version="3.6.9.21" targetFramework="net40" />
</packages>